/node_modules
/dist
/public
/.idea
.vscode/settings.json
.vscode/settings.json
/.vscode
src/views/.DS_Store
src/views/platform/.DS_Store
src/store/modules/.DS_Store
src/store/modules/ibps/.DS_Store
src/store/modules/ibps/modules/.DS_Store
src/views/platform/.DS_Store
src/views/platform/.DS_Store
src/assets/dll
package-lock.json