.tab {
    height: 98%;
    .btn {
      position: relative;
      height: 46px;
      width: 100%;
      padding-left: 18px;
      margin-bottom: -6px;
      .inp {
        width: 200px !important;
        margin-right: 3px;
      }
      .margin5 {
        margin: 0 3px;
      }
      .elbtn {
        padding: 6px 10px;
        margin-right: 6px;
        .iconbtn {
          display: inline-block;
        }
        .icontext{
          margin-left: 5px;
        }
      }    
      .rightbtn{
        position: absolute;
        right: 72px;
        top: 12px;
        height: 40px;
        .selectBox{
          position: absolute;
          right: 0;
          top: 0;
        }
        
        .filter{
          position: relative;
          border: none !important;
          font-size: 17px;
          padding: 3px !important;
          margin-right: 5px !important;
          width: 25px;
          height: 25px;
          /deep/ .is-dot{
            width: 8px !important;
            height: 8px !important;
          }
          .filbtn{
            display: inline-block;
            color:#006397;
          }
        }
        .othbtn{
          top: 1px;
        }
      }  
    }
    .datatable {
      height: 86%;
      margin-top: 5px;
      .subject {
        color: #40aaff;
        cursor: pointer;
      }
      /deep/ .el-table .cell .caret-wrapper{
        width: 12px;
        height: 34px;
      }
    }
    .foot {
      width: 560px;
      margin: 13px auto;
    }
    .selectBox{
      position: absolute;
      right: 0;
      top: 0;
      .formfoot{
        padding-left: 30px;
      }
    }
  }
  .demo-table-expand {
    font-size: 0;
    background-color: #f5f5f68f;
    padding: 15px 0;
  }
  .demo-table-expand label {
    width: 90px;
    color: #99a9bf;
  }
  .demo-table-expand .el-form-item {
    margin: 0 0 0 8%;
    width: 40%;
    /deep/ .el-form-item__label {
      margin-right: 20px !important;
      width: 80px;
      padding-right: 0;
      text-align: left;
      font-weight: 600;
    }
    /deep/ .doclink {
      color: #419efb;
      cursor: pointer;
    }
  }
  // /deep/ .el-dialog{
  //   margin: 0 48%;
  // }
  /deep/ .el-dialog__header{
   border-bottom:none;
  }
  /deep/ .el-dialog{
    /deep/ .el-input--small{
      .el-input__inner{
        width: 350px !important;
      }}
  }
  /deep/ .el-popover{
    span{
      width: 70px !important;
    }
    .inp {
      width: 200px !important;
      margin-right: 3px;
    }
  }